//estilos menu
.a-menu{
	display: inline-block;
	text-align: center !important;
	padding: 20px 0;
	width: 100%;
	background-color: $fondo;
	margin: 0;
}

.a-menu__item{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	padding: 15px;
	color: $white;
}

.a-menu__item__link{
	color: $white;
	background-color: $fondo;
	padding: 16px;
	text-decoration: none;
	&:hover{
		color: $white;
		background-color: $hover;
		border-radius: 50px;
		text-decoration: none;
		padding: 16px;
	}
}

//seccion principal
section{
	margin: 0 auto;
	padding: 60px;
	background-color: $hover; 
	height: 450px;
	.cuerpo{
		width: 66.6666666667%;
		margin-left: 16.6666666667%;
  		margin-right: auto;
  		position: relative;
  		&__circulo{
  			width: 41.6666666667%;
  			float: left;
		    margin-left: auto;
		    left: auto;
		    right: auto;
		    &--mini{
				font-size: 40px;
				color: #203748;
				text-align: center;
				margin-top: 115px;	
			}
		    &--blanco{
	  			background-color: $white;
	  			border-radius: 50%;
	  			width: 290px;
	  			height: 290px;
  			}
  		}
  		&__texto{
  			width: 58.3333333333%;
		    margin-left: auto;
		    left: auto;
		    right: auto;
		    &--titulo{
		    	color: $btn_color;
		    	font-size: 40px;
		    }
		    &--subtitulo{
		    	color: $white;
		    }
		    &--desc{
		    	line-height: 30px;
		    	font-size: 18px;
		    	color: $white;
		    	margin-bottom: 40px;
		    }
		    &--btn{
	  			text-decoration: none;
	  			color: $white;
	  			font-size: 22px;
	  			background-color: $btn_color;
	  			padding: 17px 50px;
	  			border-radius: 50px;
	  			i{
	  				padding-right: 10px;
	  			}
  			}
  		}
	}
}

//Modifier
.article--green{
	background: $white;
	.article__title{
		padding: 5px;
		font-size: 26px;
	}
}
.article__img{
	width: 100%;
}

//footer
.pie{
	background: $fondo;
}
.pie__item--center{
	font-size: 16px;
	color: $white;
	text-align: center !important;
	padding: 20px;
	margin: 0;
}